<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <system.serviceModel>
    <services>
      <service name="EvsService.service1" behaviorConfiguration="MTOMServiceBehaviors">
        <endpoint contract="EvsService.IService1" binding="basicHttpBinding" bindingConfiguration="MTOM" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="MTOM" messageEncoding="Mtom" maxReceivedMessageSize="104857600">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="104857600" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MTOMServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <microsoft.web.services3>
    <messaging>
      <mtom clientMode="On" />
    </messaging>
  </microsoft.web.services3>
  <appSettings>
    <add key="evsUri" value="http://localhost:8090/service1" />
    <add key="baseCacheDirectory" value="C:\DVT\DicomEvsCache" />
    <add key="messageSubDirectory" value="message" />
    <add key="configurationSubDirectory" value="configData" />
    <add key="definitionSubDirectory" value="definitionFiles" />
    <add key="defaultDvtkXmlResultsFormat" value="True" />
    <add key="evsLogLevel" value="Debug" />
  </appSettings>
</configuration>